body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
    color: white;    
    animation: fadeIn .5s linear;
    
}

.js-form,
.js-grettings {
    display: none;
}

h4 {
    
}

.showing {
    display: block;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
